name: Go
on: [pull_request,push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.11
      uses: actions/setup-go@v1
      with:
        go-version: 1.11
      id: go

    - name: Checking out
      uses: actions/checkout@v2

    - name: Building
      run: go build -v .

    - name: Testing
      run: go test -v ./...
